body{
  background-color: #CCEEE9;
  display: flex;
  justify-content: center;
  height: 90vh;
}

section{
  position: relative;
  width: 400px;
  height: 672px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white url(http://www.mulierchile.com/flappy-bird-background/flappy-bird-background-002.jpg);
  overflow: hidden;
}

#bird {
  width: 50px;
}

#tuyau{
  position: absolute;
  top: -30vh;
  right: 0;
}
